<footer class="mt-4" style="background-color: #fff;padding: 45px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mt-3">
                <div class="axil-footer-widget">
                    <h5 class="widget-title">Professional Support</h5>
                    <div class="inner">
                        <div class="d-flex flex-column">
                            <span> <i class="fa-solid fa-location-dot"></i> Address: 111 </span>
                            <a href="#" class="my-1"><i class="fa-solid fa-phone"></i></i> Phone</a>
                            <a href="#" class="my-1"><i class="fa-solid fa-envelope"></i></i> Email</a>
                            <a href="#" class="my-1" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                            <a href="#" class="my-1" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-3">
                <div class="axil-footer-widget">
                    <h5 class="widget-title">Pages</h5>
                    <div class="inner">
                        <ul>
                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="Customer" asp-controller="Account" asp-action="Login">Login</a></li>
                            <li><a asp-area="Customer" asp-controller="Account" asp-action="Register">Register</a></li>
                            <li><a asp-area="Customer" asp-controller="Sales" asp-action="Index">Sales</a></li>
                            <li><a asp-area="Customer" asp-controller="Rents" asp-action="Index">Rents</a></li>
                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Index">Hot Deals</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-3">
                <div class="axil-footer-widget">
                    <h5 class="widget-title">Pages</h5>
                    <div class="inner">
                        <ul>
                            <li><a asp-area="Customer" asp-controller="ContactUs" asp-action="Index">Contact Us</a></li>
                            <li><a asp-area="Customer" asp-controller="Rents" asp-action="Index">Rents</a></li>
                            <li><a asp-area="Customer" asp-controller="Sales" asp-action="Index">Sales</a></li>
                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Index">Hot Deals</a></li>
                            <li><a asp-area="Customer" asp-controller="Account" asp-action="Register">Register</a></li>
                            <li><a asp-area="Customer" asp-controller="Account" asp-action="Login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-3">
                <div class="axil-footer-widget">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" style="text-decoration: none">
                        <img src="@Url.Content("~/images/NewLogo.png")" alt="logo" style="width: 200px;height: 200px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr style="color: #bdbdbd;">
    <div class="container mt-3">
        <div class="d-flex align-items-center justify-content-center">
            <span>
                © copyright 2024 Real Estate
            </span>
        </div>
    </div>
</footer>
